---
import Layout from "../layouts/Layout.astro";
import Accordion from "../components/Accordion.astro";
import CardWithImage from "../components/CardWithImage.astro";
import LinkRightExternalLinkIcon from "../components/LinkRightExternalLinkIcon.astro";
import Marquee from "../components/react/Marquee";
import TechStack from "../components/react/TechStack.tsx";
import { IconBrandGithub, IconBrandLinkedin, IconBrandOnlyfans, IconCode, IconFileDownload, IconMail } from "@tabler/icons-react";
---

<Layout title="Inicio">
	<main class="mx-4 min-h-screen">
		<div class="pb-12 mt-3 space-y-3">
			<div class="animate-fade-down">
				<div class="flex text-xl">
					<p>Hola!</p>
					<p class="animate-wiggle-more animate-thrice">游녦</p>
				</div>
			</div>
			<div
				class="space-y-2 font-bold animate-fade-down animate-delay-[100ms]"
			>
				<h1 class="text-5xl">
					Soy
					<span
						class="[&::selection]:text-base-content relative col-start-1 row-start-1 bg-[linear-gradient(90deg,theme(colors.error)_0%,theme(colors.secondary)_9%,theme(colors.secondary)_42%,theme(colors.primary)_47%,theme(colors.accent)_100%)] bg-clip-text [-webkit-text-fill-color:transparent] [&::selection]:bg-blue-700/20 [@supports(color:oklch(0%_0_0))]:bg-[linear-gradient(90deg,oklch(var(--s))_4%,color-mix(in_oklch,oklch(var(--s)),oklch(var(--er)))_22%,oklch(var(--p))_45%,color-mix(in_oklch,oklch(var(--p)),oklch(var(--a)))_67%,oklch(var(--a))_100.2%)]"
						>Javier Romero</span
					>
				</h1>
				<h2 class="text-3xl">Web Developer</h2>
			</div>
			<div class="text-lg animate-fade-down animate-delay-[200ms]">
				<p>
					Esta es mi web, desarrollada con <span class="font-bold"
						>Astro Framework</span
					>. Aqu칤 podr치s encontrar informaci칩n sobre mi perfil
					profesional, as칤 como proyectos los cuales estoy
					desarrollando. No dudes en contactar conmigo para m치s
					informaci칩n.
				</p>
			</div>
			<div
				class="md:flex md:space-x-3 space-y-2 md:space-y-0 animate-fade-down animate-delay-[300ms]"
			>
				<a
					class="btn btn-outline"
					href="/cv-javier-romero-web-developer.pdf"
					target="_blank"
				>
					<IconFileDownload />
					CV
				</a>
				<a
					class="btn btn-neutral"
					href="mailto:hola@romerojavier.dev"
					target="_blank"
				>
					<IconMail />
					Email
				</a>
				<a
					class="btn btn-neutral"
					href="https://github.com/romo2613"
					target="_blank"
				>
					<IconBrandGithub />
					GitHub
				</a>
				<a
					class="btn btn-neutral"
					href="https://www.linkedin.com/in/romerojavier-dev"
					target="_blank"
				>
					<IconBrandLinkedin />
					LinkedIn
				</a>
				<a class="btn btn-neutral" href="/no-te-creo">
					<IconBrandOnlyfans />
					OnlyFans
				</a>
			</div>

			<div>
				<div
					class="flex items-center text-3xl sm:text-4xl space-x-2 font-bold"
				>
					<div class="flex space-x-2 animate-fade animate-duration-1000 animate-delay-[600ms]">
						<IconCode width={44} height={44}/>
						<p>
							칔ltimos proyectos
						</p>
					</div>
					
				</div>
				<Accordion title="Portafolio" isChecked={true} class="animate-fade-up animate-duration-1000 animate-delay-100">
					<CardWithImage img="/proyectos/portafolio/pagina_principal.png">
						<div
							class="flex-row sm:flex space-y-3 sm:space-y-0 justify-between items-center"
						>
							<h2 class="text-2xl font-bold">Portafolio</h2>
							<div class="badge badge-primary">
								Producci칩n
							</div>
						</div>
						<div class="flex-row space-y-3">
							<div class="text-xl">
								<p>
									Este es mi portafolio personal, justamente el
									que estas visualizando. Aqu칤 ir칠 publicando
									mis 칰ltimos proyectos, as칤 como las
									tecnolog칤as con las que trabajo y mi
									curr칤culum personal. Est치 desarrollado con <LinkRightExternalLinkIcon
										url={"https://astro.build/"}
										>Astro Framework</LinkRightExternalLinkIcon
									>, <LinkRightExternalLinkIcon
										url="https://react.dev/"
										>React.JS</LinkRightExternalLinkIcon
									>, <LinkRightExternalLinkIcon
										url="https://www.typescriptlang.org/"
										>TypeScript</LinkRightExternalLinkIcon
									>, <LinkRightExternalLinkIcon
										url="https://tailwindcss.com/"
										>TailwindCSS</LinkRightExternalLinkIcon
									> y <LinkRightExternalLinkIcon
										url="https://daisyui.com/"
										>DaisyUI</LinkRightExternalLinkIcon
									>
									춰Gracias por visitarlo!
								</p>
							</div>
							<div class="flex w-full justify-end">
								<a
									class="btn btn-primary"
									href="https://github.com/romo2613/portfolio"
									target="_blank"
								>
								<IconBrandGithub />
								</a>
							</div>
						</div>
					</CardWithImage>
				</Accordion>
				<Accordion title="Larafy | Back-end" isChecked={false} class="animate-fade-up animate-duration-1000 animate-delay-200">
					<CardWithImage img="/proyectos/larafy/larafy-back.jpeg">
						<div
							class="flex-row sm:flex space-y-3 sm:space-y-0 justify-between items-center"
						>
							<h2 class="text-2xl font-bold">
								Larafy | Back-end
							</h2>
							<div class="badge badge-secondary">
								En desarrollo
							</div>
						</div>
						<div class="flex-row space-y-3">
							<div class="text-xl">
								<p>
									Se trata de una <span class="font-bold"
										>API</span
									> creada con <LinkRightExternalLinkIcon
										url={"https://laravel.com/"}
										>Laravel 10</LinkRightExternalLinkIcon
									> cuya finalidad es desplegar un servidor de
									gesti칩n de archivos multimedia. Principalmente
									est치 orientada a m칰sica y videoclips musicales,
									en esencia una especie de Spotify privado con
									gesti칩n de ficheros y usuarios. En este proyecto
									estoy aplicando todos mis conocimientos de <span
										class="font-bold"
										>arquitectura hexagonal</span
									>
									y <span class="font-bold"
										>Domain-Driven-Design (DDD)</span
									>.
								</p>
							</div>
							<div class="flex w-full justify-end">
								<a
									class="btn btn-primary"
									href="https://github.com/romo2613/api-larafy"
									target="_blank"
								>
								<IconBrandGithub />
								</a>
							</div>
						</div>
					</CardWithImage>
				</Accordion>
				<Accordion title="Larafy | Front-end" isChecked={false} class="animate-fade-up animate-duration-1000 animate-delay-300">
					<CardWithImage img="/proyectos/larafy/larafy-front.jpeg">
						<div
							class="flex-row sm:flex space-y-3 sm:space-y-0 justify-between items-center"
						>
							<h2 class="text-2xl font-bold">
								Larafy | Front-end
							</h2>
							<div class="badge badge-accent">Pr칩ximamente</div>
						</div>
						<div class="flex-row space-y-3">
							<div class="text-xl">
								<p>
									Interfaz gr치fica construida con <LinkRightExternalLinkIcon
										url={"https://es.react.dev/"}
										>React JS</LinkRightExternalLinkIcon
									> y <LinkRightExternalLinkIcon
										url="https://tailwindcss.com/"
										>Tailwind CSS</LinkRightExternalLinkIcon
									> con la que se consumir치 la <LinkRightExternalLinkIcon
										url="https://github.com/romo2613/api-larafy"
										>API de Larafy</LinkRightExternalLinkIcon
									>. Desde aqu칤 se podr치 iniciar sesi칩n con
									nuestro usuario, gestionar usuarios, roles,
									directorios multimedia, 치lbumes, etc... Una
									vez finalizadas algunas estructuras b치sicas
									de la API comenzar칠 a desarrollar esto.
								</p>
							</div>
							<div class="flex w-full justify-end">
								<a
									class="btn btn-primary"
									href="https://github.com/romo2613/front-larafy"
									target="_blank"
								>
								<IconBrandGithub />
								</a>
							</div>
						</div>
					</CardWithImage>
				</Accordion>
			</div>
			<div>
				<div
					class="pt-5 space-y-2 animate-fade-up animate-delay-[300ms]"
				>
					<div
						class="flex items-center text-4xl space-x-2 font-bold mb-3"
					>
						<IconCode width={44} height={44}/>

						<p>Tech Stack</p>
					</div>
					<Marquee className="my-4" pauseOnHover={true} speed={30} client:only="react" />
					<TechStack client:only="react"/>
					<Marquee
						className="my-4"
						direction="right"
						pauseOnHover={true}
						speed={30}
						client:only="react"
					/>
				</div>
			</div>
		</div>
	</main>
</Layout>
